body,
html {
    margin: 0;
}

h1 {
    font-family: 'Boogaloo', cursive;
}

header {
    padding: 1vw;
    background-color: black;
    height: 5vw;

}

.hide {
    display: none;
    animation-delay: 3s
}

#link {
    color: black;
    font-size: 6vw;
}

#migg {
    background-image: url(billeder/mouad.jpg);
    width: 100vw;
    height: 75vw;
    background-size: contain;
    background-repeat: none;
}

section {
    padding: 1vw;
}

.tekst {
    padding: 5vw;
    text-align: justify;
}

.tekst p {
    font-family: 'Libre Baskerville', serif;
}

section h1 {
    position: relative;
    top: 15vw;
    font-size: 6vw;
    margin: 1vw auto;
    width: 70vw;
    border-top: 0.5vw solid #934646;
    display: block;

}

#Open-menu {
    position: relative;
    height: 5vw;
    width: 5vw;
    display: flex;
    top: 1.5vw;
    left: 0vw;
    cursor: pointer;
    float: right
}

#close-menu {
    position: relative;
    height: 10vw;
    width: 10vw;
    display: flex;
    top: 4vw;
    cursor: pointer;
    float: right
}

#menu1 {
    position: absolute;
    width: 5vw;
    height: 0.5vw;
    background-color: #934646;
}

#menu2 {
    position: absolute;
    width: 5vw;
    height: 0.5vw;
    top: 1vw;
    background-color: #934646;
}

#menu3 {
    position: absolute;
    width: 5vw;
    height: 0.5vw;
    top: 2vw;
    background-color: #934646;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 10vw;
    font-family: 'Boogaloo', cursive;
}

p {
    font-family: 'Libre Baskerville', serif;

}

nav {
    position: absolute;
    background-color: black;
    padding: 2vw;
    width: 100%;
    height: 100%;
    top: 0vw;
    display: none;
    transform: scaleX(0);
    transform-origin: right;
}

ul {
    list-style-type: none;
    margin: 10vw auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 80vw;
}

span {
    font-family: 'Libre Baskerville', serif;
    color: #934646;
    display: block;
    font-size: 3vw;
    margin-top: 2vw;
}

li {
    opacity: 0;
    animation: showit 1s 1s forwards;
    padding: 5vw 0vw 0vw 0vw;
    margin: 2vw 0vw 0vw 0vw;
}

#luk {
    position: relative;
    width: 100vw;
    cursor: pointer;
    opacity: 0;
    animation: showit 1s 1s forwards ease-in;
    background-image: url(billeder/luk.svg);
    background-repeat: no-repeat;
    left: 90vw;
    top: 0vw;
    height: 7vw;
    width: 7vw;
}

.show {
    display: block;
    animation: menu_slide 1s ease-in forwards;
}



.Ommig {
    color: #934646;
    font-size: 4vw;
    font-style: italic;
}

#oversigt {
    font-size: 9vw;
    color: #934646;
    padding: 6vw 0vw 0vw 10vw;
    margin: 0vw 0vw 0vw 0vw;
    opacity: 0;
    animation: showit 1s 1s forwards ease-in;
}

@media only screen and (min-width: 1200px) {
    ul {
        list-style-type: none;
        margin: 0vw;
        padding: 0vw;
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 100vw;
    }

    nav {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        top: 0vw;
        display: none;
        transform: scaleX(0);
        transform-origin: right;
        padding: 1vw 0vw 3vw 2vw;
        margin: 0vw;
    }

    a {
        font-size: 6vw;
    }

    li {
        padding: 2vw;
    }

    #oversigt {
        font-size: 5vw;
        padding: 0vw;
        margin: 0vw;
    }

    span {
        font-family: 'Libre Baskerville', serif;
        color: #934646;
        display: block;
        font-size: 1vw;
        margin-top: 0vw;
        border-top: 0.1vw solid #934646;

    }

    .tekst {
        padding: 2vw 60vw 3vw 3vw;
        text-align: justify;
    }

    #migg {
        position: absolute;
        background-image: url(billeder/mouad.jpg);
        top: 11vw;
        left: 50vw;
        width: 40vw;
        height: 30vw;
        background-size: contain;
        background-repeat: none;
        z-index: 0;

    }

}

/************************Animatioen**************************/
.pulse {
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes menu_slide {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes showit {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/************************Animatioen**************************/
