body,
html {
    margin: 0;
}

header {
    padding: 1vw;

}

section {
    padding: 1vw;
}



section h1 {
    position: relative;
    top: 15vw;
    font-size: 4vw;
    margin: 1vw auto;
    width: 70vw;
    border-top: 0.5vw solid #aa9797;
    display: block;

}

#Open-menu {
    position: relative;
    height: 10vw;
    width: 10vw;
    display: flex;
    top: 4vw;
    cursor: pointer;
    float: right
}

#close-menu {
    position: relative;
    height: 10vw;
    width: 10vw;
    display: flex;
    top: 4vw;
    cursor: pointer;
    float: right
}

#menu1 {
    position: absolute;
    width: 5vw;
    height: 0.5vw;
    background-color: gray;
}

#menu2 {
    position: absolute;
    width: 5vw;
    height: 0.5vw;
    top: 1vw;
    background-color: gray;
}

#menu3 {
    position: absolute;
    width: 5vw;
    height: 0.5vw;
    top: 2vw;
    background-color: gray;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 5vw;


}

nav {
    position: absolute;
    background-color: black;
    padding: 2vw;
    width: 100%;
    height: 100%;
    top: 0vw;
    display: none;
    transform: scaleX(0);
    transform-origin: right;
}

ul {
    list-style-type: none;
    margin: 10vw auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 80vw;
}

span {
    color: gray;
    display: block;
    font-size: 2vw;
    margin-top: 2vw;
}

li {
    opacity: 0;
    animation: showit 1s 1s forwards;
    padding: 5vw 0vw 0vw 0vw;
    margin: 2vw 0vw 0vw 0vw;
}

#luk {
    color: white;
    width: 100vw;
    cursor: pointer;
    opacity: 0;
    animation: showit 1s 1s forwards ease-in;

}

#luk h1 {
    position: absolute;
    left: 85vw;
    font-size: 5vw;
    margin: 0;
}

.show {
    display: block;
    animation: menu_slide 1s ease-in forwards;
}

@keyframes menu_slide {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes showit {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Ommig {
    color: green;
    font-size: 4vw;
    font-style: italic;

}
